.container {
  .user-avatar {
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
  }

  .user-name {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
  }

  .users-table {
    overflow: auto;

    .ant-table-thead {
      th {
        background: rgba(3, 155, 229, 1);
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0;
      }
    }

    .ant-table-row {
      &:nth-child(odd) {
        background: rgba(125, 125, 125, 0.04);
      }

      td {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }

    .user-licence-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .free-licence-type {
        color: #44b543;
        font-weight: bold;
      }

      .vip-licence-type {
        color: goldenrod;
        font-weight: bold;
      }

      .custom-licence-type {
        color: crimson;
        font-weight: bold;
      }

      .base-licence-type {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        width: 80px;
      }
    }
  }
}
