.container {
  .user-avatar {
    height: 26px;
    min-width: 26px;
    border-radius: 50%;
  }

  .user-name {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .users-table {
    overflow: auto;
    background: snow;

    .ant-table-thead {
      th {
        background: whitesmoke;
        color: rgba(0, 0, 0, 0.7);
        border-radius: 0;
        font-size: 10px;
        font-weight: bold;
      }
    }

    .ant-table-row {
      &:nth-child(even) {
        background: whitesmoke;
      }

      td {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 12px;

        &:nth-child(9) {
          button {
            font-size: 12px !important;
            background: white;
            border-color: dodgerblue;
            color: dodgerblue;

            &:hover {
              background: dodgerblue;
              color: white;
            }
          }
        }
      }
    }

    .user-licence-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .free-licence-type {
        color: green;
        font-weight: bold;
      }

      .vip-licence-type {
        color: darkgoldenrod;
        font-weight: bold;
      }

      .custom-licence-type {
        color: crimson;
        font-weight: bold;
      }

      .base-licence-type {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        width: 80px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
