.container {
  .user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .user-name {
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
  }

  .users-table {

    .ant-table-thead {
      th {
        background: rgba(3, 155, 229, 1);
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0;
      }
    }

    .ant-table-row {
      &:nth-child(odd) {
        background: rgba(125, 125, 125, 0.04);
      }

      td {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}
