.container {

  .isNotConnected {
    background: rgba(255, 35, 35, 0.1);

    &:hover {
      background: rgba(255, 35, 35, 0.2);
    }
  }

  .isConnected {
    background: rgba(68, 181, 67, 0.1);

    &:hover {
      background: rgba(68, 181, 67, 0.2);
    }
  }

  .ggAds-icon {
    width: 20px;
    margin-right: 5px;
  }

  .accounts-table {

    .ant-table-thead {
      th {
        background: #44b543;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0;
      }
    }

    .ant-table-row {
      td {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:hover {
        td {
          background: rgba(0, 0, 0, 0) !important;
        }
      }
    }

  }
}
