.container {
  .accounts-table {
    background: snow;

    .ant-table-thead {
      th {
        background: whitesmoke !important;
        color: rgba(0, 0, 0, 0.7) !important;
        border-radius: 0;
        font-size: 10px;
        font-weight: bold;

        &:nth-child(2) {
          text-align: center;
        }
      }
    }

    .ant-table-row {
      &:nth-child(even) {
        background: whitesmoke;
      }

      td {
        font-size: 12px;

        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(5) {
          font-size: 10px;
        }

        .account-status--success,
        .account-status--danger,
        .account-status--active,
        .account-status--unactive {
          font-weight: bold;
          font-size: 10px;

          &.gg-ads-id {
            font-size: 12px !important;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          }
        }
        .account-status--success {
          color: green;
        }

        .account-status--danger {
          color: crimson;
        }

        .account-status--active {
          color: #039be5;
        }

        .account-status--unactive {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
