.container {
  .isNotConnected {
    background: rgba(255, 35, 35, 0.1);
  }

  .isConnected {

  }

  .ggAds-icon {
    width: 20px;
    margin-right: 5px;
  }

  .accounts-table {
    .ant-table-thead {
      th {
        background: #44b543;
        color: white;
        border-radius: 0;
        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(5) {
          text-align: center;
        }
      }
    }

    .ant-table-row {
      td {
        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(5) {
          text-align: center;
        }
      }
    }
  }
}
