.container {
  .gg-ads-errors-table {
    overflow: auto;
    background: snow;

    .field-content {
      color: red;
      width: 140px;
    }

    .ant-table-thead {
      th {
        background: whitesmoke;
        color: rgba(0, 0, 0, 0.7);
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0;
        font-size: 10px;
        font-weight: bold;
      }
    }

    .ant-table-row {
      &:nth-child(even) {
        background: whitesmoke;
      }

      td {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;

        button {
          font-size: 10px;
        }

        &:nth-child(2) {
          font-weight: bold;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          font-size: 10px;
        }
      }

      &:hover {
        td {
          background: rgba(255, 35, 35, 0.1) !important;
        }
      }
    }
  }
}
