.container {
  .gg-ads-errors-table {
    overflow: auto;

    .field-content {
      color: red;
      width: 140px;
    }

    .ant-table-thead {
      th {
        background: #d9534f;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0;
      }
    }

    .ant-table-row {
      &:nth-child(odd) {
        background: rgba(125, 125, 125, 0.04);
      }

      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      &:hover {
        td {
          background: rgba(255, 35, 35, 0.1) !important;
        }
      }
    }
  }
}
